 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Nunito:ital,wght@1,300&family=Open+Sans&display=swap');
/*
    font-family: 'Lato', sans-serif;

    font-family: 'Lobster', cursive;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
*/
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.title {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #f03333;
    line-height: 1.2;
    text-transform: uppercase;
}
.text {
    text-align: justify;
}
.subtitle {
    font-size: 30px;
    color:  #12ac11;
    line-height: 1.2;
    text-decoration: underline;
}
.list {
    font-size: 20px;
    color:  #444;
    font-style: italic;
    list-style-type: square;
}